#page {
  margin-top: 0;
}

.select-color #color-display-table .color-box span,
.select-color #color-display-table td.color-info input,
#color-display-table tr {
  cursor: pointer !important;
}

.select-color ul#benefit-list li .warning-sign {
  margin-top: 2px;
}
.select-color ul#benefit-list li span {
  color: var(--www-paintscratch-com-black, #000);
  font-family: Arial;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  margin-left: 12px;
}

.select-color #main span.instructions {
  display: none !important;
}
.select-color #main span.instructions + p {
  display: none !important;
}

#main h3 {
  color: var(--www-paintscratch-com-black, #000);
  font-family: Arial;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: 26px;
  margin-bottom: 16px !important;
  margin-top: 24px !important;
}

#page #main .crs_accordion_current {
  color: #00E;
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 18px;
  padding: 7px 12px;
  background: #F4F4F8;
  position: relative;
  cursor: pointer;
}
#page #main .crs_accordion_current:after {
  content: "+";
  color: #3D3DF0;
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px;
  width: 24px;
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
}
#page #main .crs_accordion_content {
  display: none;
  background: #F4F4F8;
  padding: 12px;
  border-top: 2px solid #fff;
}
#page #main .crs_accordion_content p {
  color: #000;
  font-family: Arial;
  font-size: 13px;
  font-style: normal;
  font-weight: 400;
  line-height: 18px;
  margin: 0;
}
#page #main .crs_accordion_content p:not(:last-child) {
  margin-bottom: 12px;
}
#page #main .crs_accordion.active .crs_accordion_current:after {
  content: "-";
}
#page #main .crs_accordion.active .crs_accordion_content {
  display: block;
}

.crs_images_left {
  border-radius: 4px;
  border: 1px solid #E9E9E9;
  max-width: 300px;
  width: 100%;
  margin-right: 24px;
  margin-right: auto;
  height: -moz-fit-content;
  height: fit-content;
  margin-bottom: 16px;
}
.crs_images_right {
  max-width: 290px;
  width: 100%;
  height: -moz-fit-content;
  height: fit-content;
}
.crs_images_right div {
  margin-bottom: 16px;
}
.crs_images img {
  width: 100%;
  cursor: pointer;
}

.crs_icon_zoom {
  position: absolute;
  z-index: 2;
  cursor: pointer;
  right: 12px;
  bottom: 12px;
  pointer-events: none;
}

.crs_video {
  padding: 8px 0 16px;
  background-color: transparent;
  border: none;
  align-items: center;
  cursor: pointer;
}
.crs_video svg {
  margin-right: 8px;
}
.crs_video span {
  color: var(--www-paintscratch-com-blue, #00E);
  font-family: Arial;
  font-size: 14px;
  font-style: normal;
  font-weight: 700;
  line-height: 24px;
  text-align: left;
}

.crs_popup {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(39, 48, 56, 0.65);
  -webkit-backdrop-filter: blur(5px);
          backdrop-filter: blur(5px);
  display: flex;
  opacity: 0;
  pointer-events: none;
  transition: all 0.2s ease;
  z-index: 999;
  overflow-y: auto;
  padding: 10px;
  box-sizing: border-box;
}
.crs_popup.active {
  opacity: 1;
  pointer-events: auto;
}
.crs_popup.active .crs_popup_container {
  transform: translateY(0);
}
.crs_popup iframe {
  height: 338px;
}
.crs_popup_container {
  max-width: 600px;
  width: 100%;
  margin: auto;
  transform: translateY(100px);
  transition: all 0.3s ease;
}
.crs_popup_container img {
  width: 100%;
  background-color: #fff;
}
.crs_popup_head {
  background: #0373BD;
  padding: 12px;
  color: var(--White, #FFF);
  text-align: center;
  font-family: Arial;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 28px;
  position: relative;
  min-height: 26px;
}
.crs_popup_head svg {
  position: absolute;
  right: 12px;
  top: 50%;
  transform: translateY(-50%);
  z-index: 2;
  cursor: pointer;
}

.crs_read_more {
  cursor: pointer;
  color: rgb(0, 0, 238);
  text-decoration: underline;
}

.relative {
  position: relative;
}

@media screen and (min-width: 769px) {
  .d-lg-flex {
    display: flex;
  }
  #page #main {
    padding-right: 32px;
    box-sizing: border-box;
  }
}
@media screen and (max-width: 768px) {
  #page #main p, #page #main h3 + p {
    font-size: 14px;
    line-height: 22px;
  }
  .select-color ul#benefit-list li span {
    font-size: 14px;
    line-height: 20px;
  }
  #main h3 {
    font-size: 16px !important;
    line-height: 24px;
  }
  .crs_accordion_current {
    padding: 11px 12px;
  }
  .crs_images_row > div {
    margin-left: auto;
    margin-right: auto;
  }
  .crs_video span {
    font-size: 13px;
    line-height: 18px;
  }
  .crs_popup iframe {
    height: 300px;
  }
  #color_search_pop a.action-button-orange {
    margin-left: 0 !important;
    width: 100%;
  }
  .crs_images_right {
    max-width: 300px;
  }
  .select-color ul#benefit-list li#guarantee_benefit_li {
    align-items: flex-start;
  }
  .green-check-mark {
    width: 22px;
  }
}/*# sourceMappingURL=main.css.map */